﻿@model db_first.Ogrenci

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ogrenci</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DogumTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DogumTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eposta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eposta)
        </dd>

    </dl>

    <table class="table">
        <tr>
            <th>Ders Adı </th>
            <th>Başarı Notu</th>

        </tr>
        @foreach (var item in Model.Kayit)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Ders.DersAdi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BasariNotu)
                </td>
            </tr>
        }


    </table>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OgrenciID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
